$primarycolor1:#f38c9d;
body{
  width:100%;
  background-color:white;
}
.navbar{
  width:100%;
  // height:20%;
  .navbar-brand{
    margin-left: 10px;
    color:$primarycolor1;
  }
  .container-fluid{
    width:100%;
  //border:1px solid grey;
    padding:1px;
 background-color:white;
   
    .navbar-nav{
        
      //  padding:1px 100px;
      .nav-item{
      //  padding:1px 100px;
    .nav-link{   
      // margin:10px;
      color:black;
    }
       
        }
  }
    }
    }